body {background-color: #1a237e;
width: 100%;
overflow: hidden;
height: auto;
background-image: url("assets/zodiac-background.svg");
background-repeat: none;
background-size: cover;}

h1 {color: white;
font-size: 3em;
font-family: 'Comfortaa', sans-serif;
margin-top: 50px;}

main {width: 100%;
padding-left: 5%;
}

#help {position: absolute;
top: 0;
left: 95%;
}

#directions {width: 50%;
height: 150px;
background-color: white;
position: absolute;
left: 0; 
right: 0; 
margin-left: auto; 
margin-right: auto;
top: 30%;
z-index: 70;
padding: 20px;}


h3 {font-family: 'Comfortaa', sans-serif;
text-align: center;
margin-top: 30px;}

#leave {position: absolute;
top: 0;
left: 94%;
transform: translateY(-15px);}

#instructions {font-family: 'Roboto', sans-serif;}

.no-display-directions {display: none;}

.display-directions {display: block;}


#form-container {width: 100%;
height: auto;
margin-bottom: 125px;
margin-top: 75px;}



input {width: 200px;
height: 30px;
background-color: transparent;
border-bottom: 1px solid lightgray;
border-left: none;
border-right: none;
border-top: none;
color: white;}

input[type="submit"] 
{display: inline-block;
width: 100px;
margin: 0 50px;
border: 1px solid lightgray;}


#icon-container {width: 100%;
height: 100px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-row-gap: 50px;}

.icon {width: 80px;
height: 80px;
border-radius: 50%;
z-index: 10;}

#leela-btn {background-image: url("assets/aries.png");
background-size: cover;}

#princess-carolyn-btn {background-image: url("assets/taurus.png");
background-size: cover;}

#mastershake-btn {background-image: url("assets/gemini.png");
background-size: cover;}

#frylock-btn {background-image: url("assets/cancer.png");
background-size: cover;}

#kyle-btn {background-image: url("assets/leo.png");
background-size: cover;}

#fry-btn {background-image: url("assets/virgo.png");
background-size: cover;}

#bender-btn {background-image: url("assets/libra.png");
background-size: cover;}

#cartman-btn {background-image: url("assets/scorpio.png");
background-size: cover;}

#early-btn {background-image: url("assets/sagittarius.png");
background-size: cover;}

#bojack-btn {background-image: url("assets/capricorn.png");
background-size: cover;}

#rusty-btn {background-image: url("assets/aquarius.png");
background-size: cover;}

#meatwad-btn {background-image: url("assets/pisces.png");
background-size: cover;}



#darken {width: 100%;
height: 100vh;
background-color: rgba(0, 0, 0, .7);
position: fixed;
top: 0;
left: 0;
z-index: 50;
display: none;
justify-content: center;}

#result-display {position: absolute;
height: 500px;
width: 40%;
background-color: white;
left: 0; 
right: 0; 
margin-left: auto; 
margin-right: auto;
top: 15%;
border-radius: 5%;
z-index: 60;
}


img {max-height: 200px;
position: absolute;
right: 0;
left: 0;
margin-right: auto;
margin-left: auto;
margin-top: 20px;
grid-row: 2/3;
grid-columns: 1/3;}

.no-display {display: none;}

.display {display: grid;
grid-template-rows: .5fr 4fr 2fr 2fr;
grid-template-columns: 4fr 1fr;
justify-items: center;}

#character{grid-row: 3/4;
grid-column: 1/3;
text-align: center;
margin: 0 30px;
align-self: center;
font-family: 'Comfortaa';
}

#blurb {grid-row: 4/5;
grid-column: 1/3;
font-family: 'Roboto', sans-serif;
margin: 0 20px;
}

#exit {grid-row: 1/2;
grid-column: 2/3;
transform: translateY(-10px);
transform: translateX(10px);
}






